{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	{% if app.user %}
		<a class="action_button" href="{{ path('app_article_new') }}">Créer un nouvel article</a>
	{% endif %}

	{% for article in articles %}
		<section>
			<h2>{{ article.title }}</h2>
			<p>{{ article.content }}</p>
			{% if article.author %}
				<p class="article_author">
					Auteur:
					{{ article.author.name }}
					{{ article.author.firstname }}
				</p>
			{% endif %}
			<div class="action_button_container">
				<a class="action_button" href="{{ path('app_article_show', {'id': article.id}) }}">Voir</a>
			</div>
		</section>
	{% endfor %}
{% endblock %}
