{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<div class="content_container">
		<div class="article_block">
		<p>Il y a un total de: <strong>{{ articlesCount }}</strong> articles</p>
		<h3>Filtrer:</h3>
			{{ form_start(articleForm) }}
			{{ form_widget(articleForm) }}
			<button class="btn action_button">{{ button_label|default('Envoyer') }}</button>
			{{ form_end(articleForm) }}
		</div>
		<div class="product_block">
		<p>Il y a un total de: <strong>{{ productsCount }}</strong> produits</p>
		<h3>Filtrer:</h3>
			{{ form_start(productForm) }}
			{{ form_widget(productForm) }}
			<button class="btn action_button">{{ button_label|default('Envoyer') }}</button>
			{{ form_end(productForm) }}
		</div>
	</div>
{% endblock %}
