{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>
        {% for product in products %}
        <section>
            <h2>{{ product.title }}</h2>
            <p>{{ product.description }}</p>
            <p>Prix: {{ product.price }} €</p>
            <p>Catégorie: {{ product.category.name }}</p>
            <p>Vendeur : {{ product.seller.name }} {{ product.seller.firstname }}</p>
        </section>
{#                     <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a> #}
        {% endfor %}
    <a class="action_button" href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
