{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>
        {% for article in articles %}
            <section>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
                {% if article.author %}
                <p class="article_author">
                Auteur: {{ article.author.name }} {{ article.author.firstname }}
                </p>
                {% endif %}
            </section>
        {% endfor %}

    <a class="action_button" href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
